li{
  display: inline-block;
  align-self: center;
  font-family: "Google Sans Code";
}

ol{
  list-style-type: none;
  padding-left: 0;
  align-items: center;
}
nav {
  border-bottom: 1px solid;
}
.icons{
    position: relative;
    margin-top: 68px;
    margin-left: 25px;
}
.fa-github{
  scale: 1.7;
}
.fa-linkedin{
  margin-left: 11px;
  scale: 1.7;
}
.header{
  align-self: center;
  display: flex;
}
h2{
  position: relative;
  text-align: center;
  color: white;
  font-family: "Manufacturing Consent", monospace;
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 0px;
}
body{
  background-color: black;
}
pre{
  text-align: center;
  color: white;
  font-family: monospace;
}
footer{
  text-align: center;
  color: white;
  font-family:  monospace;
  font-style: normal;
  font-weight: 50;
}
p{
  text-align: center;
  color: white;
  font-family:  monospace;
  font-style: normal;
  font-weight: 50;
  font-size: 20px
}
.descriptors {
  align-self: center;
  display: flex;
  gap: 50px;
}
.descriptors p{
  flex: 1;
  border: solid;
  margin-inline-start: 50px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; 
  margin-bottom: 50px;
  /* line-height: 1.2; */
  font-family: "Google Sans Code", monospace;
}
header{
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
#quote{
  font-weight: 25px;
  font-family: "Manufacturing Consent";
  margin-top: 20px;
}
a{
  text-decoration: none;
}
a:link{
  color: whitesmoke;
}
a:visited{
  color:rgb(22, 22, 22);
}