h2{
  text-align: center;
  color: white;
  font-family: "Manufacturing Consent", monospace;
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 0px;
}
body{
  background-color: black;
}
pre{
  text-align: center;
  color: white;
  font-family: monospace;
}
footer{
  text-align: center;
  color: white;
  font-family:  monospace;
  font-style: normal;
  font-weight: 50;
}
p{
  text-align: center;
  color: white;
  font-family:  monospace;
  font-style: normal;
  font-weight: 50;
  font-size: 20px
}
.descriptors {
  align-self: center;
  display: flex;
  gap: 50px;
}
.descriptors p{
  flex: 1;
  margin-inline-start: 50px;
  margin-bottom: 50px;
  /* line-height: 1.2; */
  font-family: "Google Sans Code", monospace;
}
header{
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
#quote{
  font-weight: 25px;
  font-family: "Manufacturing Consent";
  margin-top: 0px;
}